.nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.nav > .logo > h1 {
  font-size: 20px;
  font-weight: 700;
}

.nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.personal-functions > h2 {
  font-size: 18px;
}

.personal-functions > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.nav-content {
  list-style-type: none;
  cursor: pointer;
}

.nav-content > li:hover {
  text-decoration: underline;
}
