/* .personal-blogs {
  display: none;
} */

.edit-model-container {
  height: 100vh;
  background-color: transparent;
  width: 100%;
  /* filter: blur(1px); */
  position: absolute;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
